<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <title>Activityd</title>

    {% block style_content %}
    <link href="https://unpkg.com/purecss@1.0.1/build/pure-min.css"
        rel="stylesheet"
        integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47"
        crossorigin="anonymous">
    {% endblock %}

    {% block script_content %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/graphy.js') }}"></script>
    {% endblock %}

    <script type="text/javascript">
    window.API_ROOT = "{{request.headers.host}}";
    </script>

</head>
<body>
    <div class="pure-menu pure-menu-horizontal">
        <span class="pure-menu-heading">Discord Activity Grapher</span>
    </div>
    <div>
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>
