{% extends "base.html" %}

{% block content %}
    {% if error %}
    <p>{{ error_payload }}</p>
    {% endif %}

    <div id="graph"></div>

    <div class="pure-g">
        <div class="pure-u-1-2"><div id="pie"></div></div>
        <div class="pure-u-1-2"></div>
    </div>
{% endblock %}
